<!--Section: Contact v.2-->
<section class="md-4" >

  <!--Section heading-->
  

  <div class="row bg" style="height:85.6vh;padding:50px 10px 10px 10px;color:wheat;margin-bottom:5px;border-radius:5px;margin-top:-3%">
        <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
        <!--Section description-->
        <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
            a matter of hours to help you.</p>
      <!--Grid column-->
   <div class="col-md-7 col-md-offset-4">
          <form id="contact-form" name="contact-form" action="mail.php" method="POST">
              

              <!--Grid row-->
              <div class="row">

                  <!--Grid column-->
                  <div class="col-md-6">
                    <div class="md-form mb-0">
                          <input type="text" id="name" name="name" placeholder="Your Name" class="form-control"><br>
                          <input type="text" id="email" name="email" placeholder="Your email" class="form-control">
                          <br>
                          <input type="text" id="subject" name="subject" placeholder="Subject" class="form-control">
                          <br>
                          <label for="message">Your message</label>
                          <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                         <br> <p style="text-align:center"><button type="submit" class="btn btn-primary" style="font-size:16px;width:50%; background-color: rgb(8, 111, 129); ">Send</button></p>
                      </div>
                  </div>
                  <!--Grid <column--><br>

                  <!--Grid column-->
             

              </div>
              <!-- <div class="row">
                  <div class="col-md-1 col-md-offset-5">

                  </div>
                    
              </div> -->
        
          </form>
      </div>
      <!--Grid column-->

     </div>

</section>
<!--Section: Contact v.2-->